
<html>
  <head>
    <title>Flapper News</title>
	  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	  <script src="app.js"></script>
	  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="flapperNews" ng-controller="MainCtrl">
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
		    <div class="page-header">
		      <h1>
		      	{{ header }}
		      </h1>
		    </div>
		    <div ng-repeat="post in posts | orderBy: '-upvotes'">

			    <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
			    {{ post.upvotes}}
		   		<span style="font-size: 20px; margin-left: 10px;">
			    	<a ng-show="post.link" href="{{ post.link }}">{{ post.title }}</a>

			    	<span ng-hide="post.link">{{ post.title }}</span>
			    </span>	    	
		    	
		    </div>
		    <form style="margin-top: 30px;">
		    	<h3> {{ postTitle }}</h3>
		    	<div class="form-group">
		    		<input class="form-control" placeholder="Title" type="text" ng-model="title"></input>		    		
		    	</div>
		    	<div class="form-group">
		    		<input class="form-control" placeholder="Link" type="text" ng-model="link" placeholder="link"></input>
		    	</div>	    	
		    	<button class="btn btn-primary" type="submit" ng-click="addPost()">Post</button>	
		    </form>
		</div>
	</div>
    
  </body>
</html>
